[ req ]
default = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[ dn ]
CN = test.nur

[ v3_ext  ]
authorityKeyIdentifier=keyid,issuer:always
basicConstraints=CA:FALSE
keyUsage=keyEncipherment,dataEncipherment
extendedKeyUsage=ServerAuth,ClientAuth
